@model BGL.Test.Portal.Models.SearchModel
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Search", "Home", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(m => m, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.SearchViewModel.Name, new {@class = "form-control", required = "required"})
                        @Html.ValidationMessageFor(m => m.SearchViewModel.Name)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Search" class="btn btn-default"/>
                    </div>
                </div>
            }
        </section>
    </div>
</div>